<div class="container">
    
<table class="table table-hover"*ngIf="productList.length>0" >
    <h2>Cart</h2>
    <thead>
        
        <th>Name</th>
        <th>Price</th>
        <th></th>
        <th>Quantity</th>
        <th></th>
        <th>Action</th>
        
    </thead>
    <tbody>
        
        <tr *ngFor="let item of productList">
          
            <td>{{item.name}}</td>
           
            <td>₹{{item.price}}</td>
            <td><button class="btn btn-primary" (click)="decreaseQuantity(item)">-</button></td>
            <td>{{item.quantity}}</td>
            <td><button class="btn btn-primary"(click)="increaseQuantity(item)" >+</button></td>
            <td>
                <button (click)="removeItem(item)" class="btn btn-danger">Remove</button>
              </td>
        </tr>
    
    <tr>
        <td><strong>Grand Total : </strong></td>
        <td><h4>₹{{total}}</h4></td>
     
      
      
    </tr>
    <tr>
        <td colspan="2"></td>
        <td><button (click)="emptycart()" class="btn btn-danger">Empty Cart</button></td>
        <td><button routerLink="home" class="btn btn-primary">Shop More</button></td>
    </tr>
       
    </tbody>
    </table>
    <div>
        <ng-container *ngIf="productList.length ==0">
            <div class="empty">
              
                
                <h1>Cart Empty!!</h1>
                <button routerLink="/home" class="btn btn-primary">Shop Now</button>
             
            </div>
          </ng-container>
          
       
        </div>
        
</div>
