<div>
  <ul class="nav  nav-fill">
    <li class="nav-item item" (click)="showCategory('Electronics')">
      <img class="img-container"
        src="https://unsplash.com/photos/Q2uV5TkjNz8/download?ixid=MnwxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNjYxMjQ0Nzgz&force=true&w=640"
        alt="">
      <h4>Electronics</h4>
    </li>
    <li class="nav-item item" (click)="showCategory('Grocery')">
      <img class="img-container"
        src="https://unsplash.com/photos/8RaUEd8zD-U/download?ixid=MnwxMjA3fDB8MXxzZWFyY2h8MXx8Z3JvY2VyeSUyMGJhZ3xlbnwwfHx8fDE2NjEyMjY0MTk&force=true&w=640"
        alt="">
      <h4>Grocery</h4>
    </li>
    <li class="nav-item item"  (click)="showCategory('Fashion')">
      <img class="img-container"
        src="https://unsplash.com/photos/tvG4WvjgsEY/download?ixid=MnwxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNjYxMjQzNDA5&force=true&w=640"
        alt="">
      <h4>Clothes</h4>
    </li>
    <li class="nav-item item"(click)="showCategory('Footwear')">
      <img class="img-container" src="assets/img/shoes.jpg" alt="">
      <h4>Shoes</h4>
    </li>
    <li class="nav-item item" (click)="showCategory('Beauty')">
      <img class="img-container" src="assets/img/beauty.jpg" alt="">
      <h4>Personal Care</h4>
    </li>
  </ul>

</div>
<div class="container">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let item of productList">
      <mat-card class="mat-elevation-z4" >
        <mat-card-header>
          <mat-card-title>{{item.name}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets/img/{{item.image}}">
        <mat-card-content>
          <p>
            {{item.description}}
           
          </p>
          <p>
            Rating {{item.rating}} ★
          </p>
          <p>
            <strong>₹{{item.price}}</strong>
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="addToWishlist(item) " >Add to Wish List</button>
          <button mat-button (click)="addToCart(item)" >Add to Cart</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  </div>
