
.img-container{
    width: 40%;
    height: 60%;
  }

  .item{
    width: 200px;
    padding-top: 10px;
    text-align: center;
    cursor: pointer;
  }
  .row {
    display: flex;
    float: left;
    
  }

  .mat-card-image{display: block;
  max-width:180px;
  max-height:180px;
  width: auto;
  height: auto;
  padding-left: 10px;
  }