<nav class="navbar navbar-expand-lg " style="background-color: #fdc082;">
    <div class="container-fluid">
      <a class="navbar-brand"routerLink="home"><h1><b>Shop For Home</b></h1></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <form class="d-flex" role="search">
        <input  class="form-control me-2" type="search" [(ngModel)]="search" name="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-success" type="submit" routerLink="home"   (click)="searchItem(search)">Search</button>
      </form>
      <div class="move-right">
      <div class="collapse navbar-collapse " id="navbarSupportedContent ">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <button *ngIf="!isLoggedIn()"class="btn btn-success" aria-current="page" routerLink="login">Login</button>
            <button *ngIf="isLoggedIn()"class="btn btn-danger" aria-current="page" routerLink="search" (click)="logout()">Logout</button>
          </li>
          <li class="nav-item">
            <button *ngIf="!isLoggedIn()"class="btn btn-primary" aria-current="page" routerLink="register">Register</button>
          </li>
          <li class="nav-item">
            <button *ngIf="isLoggedIn() && isUser()" class="btn btn-primary" aria-current="page" routerLink="cart">Cart</button>
           
          </li>
          <li class="nav-item">
          <a *ngIf="isLoggedIn() && isUser()" class="btn btn-primary" aria-current="page" routerLink="wishlist">Wishlist</a>
          </li>
        </ul>
       
      </div>
    </div>
    </div>
  </nav>
